<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Agora sim</h1>
    <hr>
    <p> -------------------- </p>
    <p> Nome:   <%=pnome%>   </p>
    <p> Email:  <%=pemail%> </p>
    <p> whatsapp:  <%=pwhatsapp%></p>
    <p> city:  <%=pcity%></p>
    <p> uf:  <%=puf%></p>
    <img src="https://bepinformatica.com.br/wp-content/uploads/2017/03/divulgjpg-7-300x238.png" alt="CUPOM">
</body>
</html>